/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

.slider-height{
    height: 600px;
    width: 100%;
}
.explore-section{
    background-color: #f8f9fa;
}